<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYBoiGibSUBCClvrGnJ0JyIO8U_M3aKS4</string>
	<key>GCM_SENDER_ID</key>
	<string>960986626957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cRental</string>
	<key>PROJECT_ID</key>
	<string>car-rental-bd475</string>
	<key>STORAGE_BUCKET</key>
	<string>car-rental-bd475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960986626957:ios:9cef22eab88a01405a9bc4</string>
</dict>
</plist>